:root {
  --menú: #4a4a4a;
  --fondo: #3cdbc0;
  --texto: #ffffff;
  font-family: "Rubik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: #4a4a4a;
}

.header {
  background-color: white;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}
.header__img {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

.header__nav {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.header__nav--list {
  color: #4a4a4a;
}

.cuerpo {
  background-color: var(--fondo);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--texto);
  font-size: 30px;
}

@media all and (min-width: 780px) {
  .menu {
    align-items: flex-end;
  }

  .cuerpo {
    font-size: 40px;
  }
}
