:root {
  --menú: #4a4a4a;
  --fondo: #3cdbc0;
  --texto: #ffffff;
  font-family: "Rubik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: var(--menú);
  box-sizing: content-box;
}

.header {
  background-color: white;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;

}
.header__img {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

.header__nav--ul {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 13px;
  padding-left: 10px;
  padding-right: 10px;
}

.header__nav--list {
  padding-right: 10px;
  padding-left: 10px;
}

.main {
  background-color: var(--fondo);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__title {
  color: var(--texto);
  font-size: 30px;
  width: 200px;
  margin-bottom: 200px;
  text-align: center;
}
@media all and (min-width: 780px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  }
  .main {
    font-size: 40px;
  }
}
